<style>
.message-content{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: 18px;
  line-height: 21px;
}
</style>

<div class="message-content">
  <p>Olá, {{name}}!</p>
  <p>Estamos enviando este e-mail, porque foi solicitado uma troca de senha para a sua conta.</p>
  <p>
    <a href="{{link}}">Resetar minha senha.</a>
  </p>
  <p>Caso essa solicitação não foi realizada por você, desconsidera este e-mail</p>
  <p>A senha cadastrada anteriormente continuará a mesma.</p>
  <p>
    Em caso de dúvidas estamos à disposição pelo email:
    <a href="mailto:equipe@gobarber.com">equipe@gobarber.com</a>
  </p>
  <p><strong>Equipe GoBarber</strong></p>
</div>
